h1{
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}
.set{
    text-align: center;
    line-height: 8rem;
    font-size: 13rem;
    margin: auto;
    margin-bottom: 100px; 
}
footer{
    text-align: center;
    line-height: 10rem;
    font-size: large;
}